/*28EEA7*/
body {
    margin: 0;
    padding: 0;
    font-family: Noto Sans Mono, sans-serif;
  } 

.main{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.main-left{
    width: 50%;
    height: 610px;
    flex-shrink: 0;
    background: #28EEA7;

}

.main-left img{
    width: 175px;
    height: 47px;
    flex-shrink: 0;
    position: absolute;
    top: 80px;
    left: 68px;
}
.main-left-cont{
   
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 200px;
    right:680px;
    font-family: Arial;
}
.main-left-cont h2{
    display: flex;
    width: 250px;
    height: 18px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    
    background: #363738
}

#buttonTrained{
    display: inline-flex;
    padding: 15px 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #2F2B35;
    color: white;
    font-weight: bolder;
    text-decoration: none;
}


.main-right{
    width: 50%;
    height: 610px;
    flex-shrink: 0;
    background: #282828;
}
.main-right img{
    width: 42px;
    height: 42px;
    flex-shrink: 0;
    position: center;
    
    
}
.main-right-cont{
   
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 200px;
    left:680px;
    font-family: Arial;
    color: #FCFCFD;
}
.main-right-cont h2{
    display: flex;
    width: 250px;
    height: 18px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #363738;
    
    background: #FCFCFD;
}
#buttonHire{
    display: inline-flex;
    padding: 15px 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #FCFCFD;
    color: #363738;
    font-weight: bolder;
    text-decoration: none;
}

.burger-icon{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 90px;
    right: 80px;
    background: #363738;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/***************************** 2nd page  ************************************/

.second-page{
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    background-color: #F1F2F3;
    padding-bottom: 50px;
}
.arrow{
    color:#28EEA7;
    font-weight:900;
}
.second-page h2{
    padding-top: 70px;
    padding-bottom: 20px;
    font-size: 20px;
    color: #363738;
    margin-left: 15px;
    font-weight: 900;
}

.video{
    display: block;
    box-sizing: border-box;
    padding-top: 56.17021276595745%;
    border: 15px solid #28eea7;
    border-radius: 20px;
    width: 95%;
    background-image: url(https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg);
    background-position: 50%;
    background-size: cover;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

/********************* third page ******************************/

.third-page{

    
    margin-left: 70px;
    margin-right: 70px;
    padding-bottom: 50px;
  
  }
.third-page h2{
    margin-top: 70px;
    margin-bottom: 50px;
}
  
  .container{
  display: flex;
  flex-direction: row;
   gap: 20px;
   
  }
  
  .left{
   background-color: #F1F2F3;
   width: 50%;
   height: 400px;
   border-radius: 15px;
  }
  
  .right{
    
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
  }
  .up{
    height: 50%;
    width:100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    
  }
  
  .uLeft{
    background-color: #F1F2F3;
    width: 60%;
    height: 100%;
    border-radius: 15px;
  }
  .uRight{
    background-color: #F1F2F3;
    width: 40%;
    height: 100%;
    border-radius: 15px;
  }
  .down{
    height: 50%;
    width:100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    }
  .dLeft{
    background-color: #F1F2F3;
    width: 50%;
    height: 100%;
    border-radius: 15px;
  }
  .dRight{
    background-color:#F1F2F3;
    width: 50%;
    height: 100%;
    border-radius: 15px;
  }

  /****************** fourth page ******************/

  .fourth-page{
    
    background-color: #28EEA7;
    padding-bottom: 50px;
    }
   #tit{
        margin-top: 70px;
        margin-bottom: 50px;
        margin-left: 70px;
        margin-right: 70px;
        color:#FCFCFD;
        background-color: #363738;
        width:200px;
        height: 40px;
        text-align: center;
    }

    .nav{
        display: flex;
        flex-direction: row;
        margin-left: 70px;
    }
    .nav-item{
        
        width: 100px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 900;
    }
    .FSW{
        color: #28EEA7;
        background-color: #282828;
        border-radius: 15px 15px 0 0 ;
    }

    .prog-container{

        display: flex;
        flex-direction: row;
        margin-left: 70px;
        margin-right: 70px;
        height: 400px;
        background-color: #363738;
        border-radius: 20px;
        padding-left: 40px;
        padding-top: 20px;
        letter-spacing: 2px;
        
    }
    .prog-left{
        width: 65%;
        color: #FCFCFD;
    }
    .prog-right{
        width: 35%;
        align-items: center;
        justify-content: center;

    }
    .prog-right img{
        height: 370px;
        width: 370px;
        padding-top: 15px;
        border-radius: 20px;
    
    }

    #learnMore{
        display: inline-flex;
        padding: 15px 22px;
        justify-content: flex-end;
        width: 200px;
        align-items: center;
        gap: 10px;
        background: #232323;
        color: white;
        font-weight: bolder;
        text-decoration: none;
    }
    #next{
        display: inline-flex;
        padding: 15px 22px;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        background: #232323;
        color: white;
        font-weight: bolder;
        
    }

    /************ fifth page ************/

    .fifth-page{

        background-color: #363738;

    }

    #tat {
        padding-top: 70px;
        padding-bottom: 20px;
        font-size: 20px;
        color: #FCFCFD;
        margin-left: 15px;
        font-weight: 900;

        margin-top: 70px;
        margin-bottom: 50px;
        margin-left: 70px;
        margin-right: 70px;
    }

    .hire-container{
        display: flex;
        flex-direction: column;
        margin-left: 70px;
        margin-right: 70px;
        background-color: #232323;
        color: #FCFCFD;
        padding-left: 40px;
        padding-top: 20px;
        letter-spacing: 2px;
        margin-bottom: 40px;
        border-radius: 20px;
    }

    #title{
        background-color: #363738;
        width: 710px;
        height: 40px;
        align-content: center;
        justify-content: center;
    }

    #contactUS{
        margin-top: 40px;
        display: inline-flex;
        padding: 15px 22px;
        justify-content: flex-end;
        width: 1000px;
        align-items: center;
        gap: 10px;
        background: #313233;
        color: white;
        font-weight: bolder;
        text-decoration: none;
    }

    .down-container{
        background-color: #232323;
        display: flex;
        justify-content: flex-end;
        margin-left: 70px;
        margin-right: 70px;
        align-items: center;
        color: white;
        gap: 20px;
        border-radius: 15px;
        margin-bottom: 20px;
    }